body { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

pre, code { font-family: monospace; }

a { color: #048; text-decoration: none; font-style: italic; transition: color 0.2s; }
a:hover { color: #0075c3; }

li a { font-style: normal; }

h1 { font-size: 1.45rem; border-bottom: 1px #222 solid; margin: 0; color: #048; }

h2 { font-size: 1.15rem; border-bottom: 1px #999 dashed; color: #048; }

h3 { font-size: 1rem; border-bottom: 1px #999 dashed; color: #048; }

body { background: #fcfcfc; line-height: 1.2; }

#header { margin-bottom: 1rem; padding-bottom: 0.3rem; border-bottom: 0.1rem #496c8e solid; }
#header h1 { border-bottom: none; }
#header h1 a { font-style: normal; }
#header nav { margin-top: 0.25rem; }
#header nav a { font-style: normal; }
#header nav a + a { margin-left: 0.8rem; }

#content { padding: 0 0 4.25rem; }

#footer { font-size: 1rem; border-top: 0.1rem #496c8e solid; color: #048; }
#footer > div { padding: 1.5rem; }

#header > div, #content, #footer > div { max-width: 73rem; margin: 0 auto; }

html, body { height: 100%; }

#container { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4.1rem; }
