// IRCv3 Web SASS
@import "compass/css3"


$irc-header-fg: #d5e3f2
$irc-header-bg: #2c4966
$irc-background: #fcfcfc
$irc-borders: #496c8e
$irc-light-blue: #06A
$irc-blue: #048
$irc-dark-blue: #024


body
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif
pre, code
    font-family: monospace

a
    color: $irc-blue
    text-decoration: none
    font-style: italic
    transition: color 0.2s
    &:hover
        color: lighten($irc-light-blue, 5%)
li a
    font-style: normal


h1
    font-size: 1.45rem
    border-bottom: 1px #222 solid
    margin: 0
    color: $irc-blue
h2
    font-size: 1.15rem
    border-bottom: 1px #999 dashed
    color: $irc-blue
h3
    font-size: 1rem
    border-bottom: 1px #999 dashed
    color: $irc-blue


.flexy-list
    max-width: 60rem
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: stretch
    align-content: center

    .participant
        padding: 0.5rem
        min-width: 12%
        text-align: center


body
    background: $irc-background
    line-height: 1.2

#header
    margin-bottom: 1rem
    border-bottom: 0.1rem $irc-borders solid
    h1
        border-bottom: none
        a
            font-style: normal
    nav
        margin-top: 0.25rem
        > ul, > ul > li
            padding: 0
            margin: 0
            list-style: none
        > ul > li
            display: inline-block
            position: relative
            padding-bottom: 0.3rem
            + li
                margin-left: 0.8rem
            > ul
                position: absolute
                left: -0.3rem
                top: 1.5rem
                display: none
                background: $irc-background
                border-radius: 0 0 0.3rem 0.3rem
                list-style: none
                border: 0.1rem $irc-borders solid
                padding: 0
                &:hover
                    display: block
                li a
                    display: block
                    padding: 1rem 1.3rem
                li + li a
                    padding-top: 0.1rem

        > ul > li:hover > ul
            display: block
        a
            font-style: normal

#content
    padding: 0 0 4.25rem

#footer
    > div
        padding: 1.5rem
    font-size: 1rem
    border-top: 0.1rem $irc-borders solid
    color: $irc-blue


#header > div, #content, #footer > div
    max-width: 73rem
    margin: 0 auto


// sticky footer
html, body
    height: 100%
#container
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -4.1rem
