<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <title>{{ page.title }}</title>
        
        <!-- Homepage CSS -->
        <link href="{{ site.root_url }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ site.root_url }}/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="{{ site.root_url }}/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div id="container">
            <div id="header"><div>
                <h1><a href="{{ site.root_url }}/index.html">IRCv3 Working Group</a></h1>
                <nav>
                    <ul>
                        <li><a href="{{ site.root_url }}/index.html#content">About</a></li>
                        <li><a href="{{ site.root_url }}/charter.html">Charter</a></li>
                        <li><a href="{{ site.root_url }}/index.html#specifications">Specs</a>
                            <ul>
                                <li><a href="{{ site.root_url }}/index.html#ircv31">3.1</a></li>
                                <li><a href="{{ site.root_url }}/index.html#next-version">Future</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.root_url }}/index.html#additional-documentation">Docs</a></li>
                        <li><a href="{{ site.root_url }}/index.html#ircv31-compliant-software">Support</a>
                            <ul>
                                <li><a href="{{ site.root_url }}/index.html#servers">Servers</a></li>
                                <li><a href="{{ site.root_url }}/index.html#desktop-clients">Clients</a></li>
                                <li><a href="{{ site.root_url }}/index.html#libraries">Libraries</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.root_url }}/charter.html#resources">Discuss</a>
                            <ul>
                                <li><a href="irc://irc.atheme.org/ircv3">#ircv3</a></li>
                                <li><a href="https://github.com/ircv3/ircv3-specifications">Github</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div></div>
            
            <div id="content"{% if page.page_type %} class="{{ page.page_type }}"{% endif %}>
                {{ content }}
            </div>
        </div>
        <div id="footer"><div>
            © IRCv3 Working Group
        </div></div>
    </body>
</html>
